<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>奇迹贼最新卡组</title>
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-light navbar-light  justify-content-between" id="navbar-first">
		<a class="navbar-brand" href="../index">天天炉石</a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="../signin">登陆</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../signup">注册</a>
			</li>
		</ul>
	</nav>
	<nav class="navbar navbar-expand-sm bg-light navbar-light  justify-content-center" id="navbar-item">

		<ul class="nav navbar-nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link" href="../sort/de">德鲁伊</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/lie">猎人</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/fa">法师</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/shen">圣骑士</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/mu">牧师</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/qian">潜行者</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/sa">萨满</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/shu">术士</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/zhan">战士</a>
			</li>
		</ul>
	</nav>
	<div class="container main-container">


		<div class="nav-second" style="margin-top: 15px">
			<nav class="navbar navbar-expand-sm bg-light navbar-light  justify-content-between il">
				<ul class="nav navbar-nav justify-content-end">
					<li style="width: 150px">
						<img src="/imgs/lushi.jpg" style="height: 80px;width: 140px;">
					</li>
					<li class="il">
						<a>
							<img src="/imgs/jishuzei.jpg" title="奇数贼">
							<br>
							<em style="list-style: none;">奇数贼</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/longmu.jpg" title="龙牧">
							<br>
							<em style="list-style: none;">龙牧</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/jishuqi.jpg" title="奇数骑">
							<br>
							<em style="list-style: none;">奇数骑</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/kongchangfa.jpg" title="控场法">
							<br>
							<em style="list-style: none;">控场法</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/qijizei.jpg" title="奇迹贼">
							<br>
							<em style="list-style: none;">奇迹贼</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/renwude.jpg" title="任务德">
							<br>
							<em style="list-style: none;">任务德</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/taisizei.jpg" title="苔丝贼">
							<br>
							<em style="list-style: none;">苔丝贼</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/edumu.jpg" title="恶毒德">
							<br>
							<em style="list-style: none;">恶毒德</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/mokuailie.jpg" title="模块猎">
							<br>
							<em style="list-style: none;">魔块猎</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/wuxianzhan.jpg" title="无限战">
							<br>
							<em style="list-style: none;">无限战</em>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="full-article" style="height: 2760px;" style="margin-top: 15px">
			<div class="zhiding">
				<b>你当前的位置：</b>
				<a href="#" style="color: #FFD700;">炉石传说专区</a>
				<span>></span>
				<a href="#" style="color: #FFD700;">分类咨询</a>
				<span>></span>
				<a href="#" style="color: #FFD700;">盗贼套牌</a>
			</div>
			<div class="kazubaobiao" style="height: 2700px;" style="margin-top: 25px">
				<h3 align="center">缝缝补补又一年 5级全程奇迹贼上传说</h3>
				<div class="kazubaobiao-xiaobiaoti">
					<em>缝缝补补又一年 5级全程奇迹贼上传说</em>
				</div>
				<div class="chatu">
					<img src="/imgs/quede.jpg" style="width: 98%; margin: 10px">
				</div>
				<p align="left">从公测到现在我当年t7猎之后合的第一套成型卡组就是奇迹贼了(毕竟当年只要一橙)玩了没多久火车王就被5费了……好怀念当年各种1血奇迹斩杀，中间时不时的afk，然而合了那么久贼还没金头偷吃从远古到现在每个版本都有奇迹贼的一席之地，上个月我也用奇迹贼上的传说，但是强度远远不如这版本，而且造价低，就俩新卡白卡，血法也可以换火羽什么的，只要不胡到毁天灭地的德牧术萨都吊打，卡组稳定性很高，终于没有上版本的奥运五环了。
					　　本来开始玩玩苔丝贼，就从4级掉5级了，然后又拿这套卡打到传说。在一级4星摩擦了好久，渡劫3次失败，好多1万左右奇奇怪怪的卡组和快攻

				</p>
				<p>
					<span style="color: rgb(128, 0, 0);">█卡组详情</span>
				</p>
				<div class="kazuxiangqing1">
					<img src="/imgs/qijizeikazu.jpg" style="width: 98%; margin: 10px;">
				</div>
				<div class="kazuxiangqing2">
					<img src="/imgs/qijizeikazu2.jpg" style="width: 98%; margin: 10px;">
				</div>
				<p>　　写攻略不敢当，玩贼的好多信仰，只是推荐一下这套卡，有乐趣，造价也低，强度高，低保上传说环境很合适。稍微写点给想玩这套牌的萌新看。</p>
				<p style="text-align: center;">
					<img src="http://img2.dwstatic.com/ls/1804/387888719308/387903343010.jpg" title="3195913671552773004" data-type2="image"
					 data-id2="3195913671552773004" alt="缝缝补补又一年 5级全程奇迹贼上传说" style="width: 56%;margin: 10px;">
				</p>
				<p>　　印象里就输了2、3把术士吧，天崩开局或者对面天胡开局。术士前期没硬解，2费转刀3费44暴徒对面就会懵，卖任务达人也好，对面还得硬币法术石，抢一抢就赢了，优势对局。</p>
				<p>　　主要注意点用好闷棍，前期给压力不能让他随意操作和上刀，记住对面没硬解就可以了。闷棍不要闷522而要把522解了闷里面的东西。经常5费杀，6费杀。</p>
				<p style="text-align: center;">
					<img src="http://img2.dwstatic.com/ls/1804/387888719308/387903343011.jpg" title="3195913706059712810" data-type2="image"
					 data-id2="3195913706059712810" alt="缝缝补补又一年 5级全程奇迹贼上传说" style="width: 56%;margin: 10px;">
				</p>
				<p>　　优势，如果成长召唤滋养污妖王欧克哈特当我没说(输了两把的德都是这样的……)</p>
				<p>　　上面没硬解，这个没群解……德的问题是前期没有超模卡，导致我们站场，十几攻的达人站着。闷棍留给848污妖王，经常把对面墙都拆干净，最强的一次蜘蛛复活3波我全给拆了。</p>
				<p style="text-align: center;">
					<img src="http://img3.dwstatic.com/ls/1804/387888719308/387903343012.jpg" title="3195913758886570934" data-type2="image"
					 data-id2="3195913758886570934" alt="缝缝补补又一年 5级全程奇迹贼上传说" style="width: 56%;margin: 10px;">
				</p>
				<p>　　37开……奇数骑委实难打，就一句话，暴徒伺机待发刀扇。</p>
				<p style="text-align: center;">
					<img src="http://img.dwstatic.com/ls/1804/387888719308/387903343013.jpg" title="3195913777331423568" data-type2="image"
					 data-id2="3195913777331423568" alt="缝缝补补又一年 5级全程奇迹贼上传说" style="width: 56%;margin: 10px;">
				</p>
				<p>　　64开了，他不像骑士靠场面,猎人放弃了场面，而我们高爆发高伤害猎人抢不过的。</p>
				<p style="text-align: center;">
					<img src="http://img5.dwstatic.com/ls/1804/387888719308/387903343014.jpg" title="3195913852002617702" data-type2="image"
					 data-id2="3195913852002617702" alt="缝缝补补又一年 5级全程奇迹贼上传说" style="width: 56%;margin: 10px;">
				</p>
				<p>　　闭眼打，打萨满法多雷很重要，让场上随从多于15血。</p>
				<p style="text-align: center;">
					<img src="http://img2.dwstatic.com/ls/1804/387888719308/387903343015.jpg" title="3195913840379800522" data-type2="image"
					 data-id2="3195913840379800522" alt="缝缝补补又一年 5级全程奇迹贼上传说" style="width: 56%;margin: 10px;">
				</p>
				<p>　　法师就是控制法满难打，奥秘法闭眼打，各都只遇见一次。</p>
				<p>　　如果你所在环境奇数骑较多，可以把毒刃换成火羽，后手可以考虑跳币火羽。任务达人和大范都不是留着憋的。这都是给超大压力的卡，让对面只能各种亏解，解着解着就死了。</p>
				<p>　　根据对局谨慎养范，一般来说除了可以按费拍怪和打术士都谨慎养，没了假币连击很珍贵，同理在确认对面百分百解不掉之前任务达人也是给压力骗解的卡。</p>
				<p>　　没有下的直接丢22，可以阻止德涨费，让术懵逼。闷棍的用法很重要，要想清楚这一局对战时我要闷什么。或者我可以闷不该闷的但我给了致命的压力。</p>
			</div>
		</div>
		<div class="container news-contain contain1">
			<div class="row">
				<div class="col-md-11" id="news-item">
					<div class="comments">
						<div class="text-center comments-title">
							<h4>文章评论</h4>
						</div>
						<div class="row comments-user">
							<div class="col-md-2">
								<img src="imgs/shu.jpg" alt="" width="80" height="80">
							</div>
							<div class="col-md-10">
								<form>
									<div class="form-group">
										<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="编写评论内容"></textarea>
									</div>
								</form>
								<button type="submit" class="btn btn-primary float-right">提交</button>
							</div>
						</div>

<!-- 
						<div class="comments-all" v-for="one in commentUser">
							<div class="row comments-item" id="comments-item">
								<div class="col-md-2">
									<img src="imgs/shu.jpg" alt="" width="80" height="80">
								</div>
								<div class="col-md-10">
									<div class="user-name">
										<p>{{one.userName}}</p>
									</div>
									<p>{{one.userComment}}</p>
									<label>{{one.Time}} </label>
									<a class="badge badge-pill badge-light" v-on:click="zancount+=1">赞{{zancount}}</a>
									<a class="badge badge-pill badge-light" v-on:click="caicount+=1">踩{{caicount}}</a>
								</div>
							</div>

						</div> -->

					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/main.js"></script>
</body>

</html>