<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>萨满最新卡组</title>
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-light navbar-light  justify-content-between" id="navbar-first">
		<a class="navbar-brand" href="../index">天天炉石</a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="../signin">登陆</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../signup">注册</a>
			</li>
		</ul>
	</nav>
	<nav class="navbar navbar-expand-sm bg-light navbar-light  justify-content-center" id="navbar-item">

		<ul class="nav navbar-nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link" href="../sort/de">德鲁伊</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/lie">猎人</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/fa">法师</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/shen">圣骑士</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/mu">牧师</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/qian">潜行者</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/sa">萨满</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/shu">术士</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="../sort/zhan">战士</a>
			</li>
		</ul>
	</nav>
	<div class="container main-container">

		<div class="nav-second" style="margin-top: 15px">
			<nav class="navbar navbar-expand-sm bg-light navbar-light  justify-content-between il">
				<ul class="nav navbar-nav justify-content-end">
					<li style="width: 150px">
						<img src="/imgs/lushi.jpg" style="height: 80px;width: 140px;">
					</li>
					<li class="il">
						<a>
							<img src="/imgs/jishuzei.jpg" title="奇数贼">
							<br>
							<em style="list-style: none;">奇数贼</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/longmu.jpg" title="龙牧">
							<br>
							<em style="list-style: none;">龙牧</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/jishuqi.jpg" title="奇数骑">
							<br>
							<em style="list-style: none;">奇数骑</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/kongchangfa.jpg" title="控场法">
							<br>
							<em style="list-style: none;">控场法</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/qijizei.jpg" title="奇迹贼">
							<br>
							<em style="list-style: none;">奇迹贼</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/renwude.jpg" title="任务德">
							<br>
							<em style="list-style: none;">任务德</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/taisizei.jpg" title="苔丝贼">
							<br>
							<em style="list-style: none;">苔丝贼</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/edumu.jpg" title="恶毒德">
							<br>
							<em style="list-style: none;">恶毒德</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/mokuailie.jpg" title="模块猎">
							<br>
							<em style="list-style: none;">魔块猎</em>
						</a>
					</li>
					<li class="il">
						<a>
							<img src="/imgs/wuxianzhan.jpg" title="无限战">
							<br>
							<em style="list-style: none;">无限战</em>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="full-article" style="margin-top: 15px">
			<div class="zhiding">
				<nav>
					<b>你当前的位置：</b>
					<a href="#" style="color: #FFD700;">炉石传说专区</a>
					<span>></span>
					<a href="#" style="color: #FFD700;">分类咨询</a>
					<span>></span>
					<a href="#" style="color: #FFD700;">萨满套牌</a>
				</nav>
			</div>
			<div class="kazubaobiao" style="margin-top: 25px">
				<h3 align="center">拯救萨满之路 天梯实测潜力鱼人萨卡组</h3>
				<div class="kazubaobiao-xiaobiaoti">
					<em>拯救萨满之路 天梯实测潜力鱼人萨卡组</em>
				</div>
				<p>新版本开了快两周了，天梯大环境也在变了几个风向后趋于稳定，卡组的类型也没什么大的变化。在尝试了新版本天梯上几乎所有主流与黑科技套路后，跟部分玩家一样，赶脚似乎版本末期已经到来，也许是因为刚退环境标准卡池太浅的缘故。 　　实在感觉有些无聊，所以去尝试拯救一下版本的隐藏职业萨满，有人会说萨满不算是隐藏职业，确实版本初有不少玩家尝试战吼萨，但是被各种快攻和非快攻卡组给锤没了，而且无论对对手和自己的游戏体验都很不好，强度也比较差，现在天梯也很少看不见萨满的身影了，连战士的数量都比不过。

				</p>
				<div class="chatu">
					<img src="/imgs/鱼人萨1.jpg" style="width: 98%; margin: 10px">
				</div>
				<p align="left">楼主尝试组了元素萨，调整了好几次感觉都略微笨重，且少了大漩涡和前期武器抗快攻能力也弱了不少，比较好玩但强度不高。 　　后来自己组了套鱼人任务萨，天梯传说分段实测，20场15胜75%的胜率，对局全是主流卡组，骑士奇偶4场100%胜率，基本吊打偶数骑，奇数骑倒是55开，对阵恶毒德也特别轻松，几乎可以从头压着打，贼法也是优势对局，劣势对局是术士和牧师，但也有一战之力。所以想把这套对多数主流卡组都优势，而且造价低廉的卡组，分享给广大在各分段被贼德骑来回摩擦的想上分的玩家。

				</p>
				<p>
					<span style="color: rgb(128, 0, 0);">█卡组详情</span>
				</p>
				<div class="kazuxiangqing1">
					<img alt="鱼人萨" src="/imgs/鱼人萨2.jpg" style="width: 98%; margin: 10px;">
				</div>
				<div class="kazuxiangqing2">
					<img alt="鱼人萨" src="/imgs/鱼人萨3.jpg" style="width: 98%; margin: 10px;">
				</div>
				<p>
					<span style="color: rgb(255, 0, 0);">
						<strong>　卡组解析</strong>
					</span>
				</p>
				<p>　　1、最开始这套卡组带的是双嗜血，但后来发现一张嗜血就够了，和其他的铺场卡组不同，鱼人萨有领军和暗鳞先知的buff，还有454的一波进化，不需要第二张嗜血来让场面优势形成斩杀威胁。</p>
				<p style="text-align: center;">
					<img src="http://img.dwstatic.com/ls/1804/388751563376/388755548134.png" title="3197607207495389044" data-type2="image"
					 data-id2="3197607207495389044" alt="拯救萨满之路 天梯实测潜力鱼人萨卡组">
				</p>
				<p>　　2、开始带了两张332鱼人斥候者，后调整为334梦魇融合怪，因为在对抗恶毒德鲁这个卡组334的身材能打过
					<a href="http://ls.duowan.com/d/f1.html" target="_blank">德鲁伊</a>3费级之前的一切生物，哪怕4费的撒隆苦囚也能一挑2，只要场面站住了，让任务做完，胜利只是探囊取物，而332的发现鱼人貌似能让任务做得更快，但实测下来一般任务在6-7费就能做完，平均6.5费，也就是说332发现鱼人对任务完成快慢的影响因素很低，且该卡组曲线顺滑，每回合都可以上生物，不会出现卡手的情况，所以不用担心任务做得慢和节奏断了的情况，权衡之使用身材更好的融合怪。</p>
				<p style="text-align: center;">
					<img src="http://img2.dwstatic.com/ls/1804/388751563376/388755548135.png" title="3197607230664321262" data-type2="image"
					 data-id2="3197607230664321262" alt="拯救萨满之路 天梯实测潜力鱼人萨卡组">
				</p>
				<p>　　3、暗鳞先知只带了一个，另一个换了4费的呱，原因跟前面类似，任务做出的速度不慢，1张能在攻击力刚好差一点的情况补足一下，解决场面问题。第二张换呱能稍稍针对一下墙德和术士939乃至偶数骑脸龙的，一开始考虑大工匠，但大工匠是随机单位，不能稳定解，且50概率出55，斟酌下带一张呱，一张先知。</p>
				<p style="text-align: center;">
					<img src="http://img3.dwstatic.com/ls/1804/388751563376/388755548136.png" title="3197600990420772971" data-type2="image"
					 data-id2="3197600990420772971" alt="拯救萨满之路 天梯实测潜力鱼人萨卡组">
				</p>
				<p>　　4、冥光鱼人，关键卡，加快任务完成效率，6费可出3.4费可以出2，看场面和节奏，是弥补了神奇四鱼退环境的一张关键卡，且一张卡能在中后期完成铺场和反场，是一项很关键的卡。</p>
				<p style="text-align: center;">
					<img src="http://img3.dwstatic.com/ls/1804/388751563376/388755548137.png" title="3197601020110153847" data-type2="image"
					 data-id2="3197601020110153847" alt="拯救萨满之路 天梯实测潜力鱼人萨卡组">
				</p>
				<p>　　5、冰钓术带两张.一般4费左右用，补充手牌，加快任务的进程，让节奏更顺滑，算是一个润滑剂，整体曲线低，可以带两张。冰冻鱼人又是一个抢节奏的神卡2费上让场面交换的主动权掌握在自己手里，奠定场面优势，是个优质的节奏卡。</p>
				<p>　　6、其余卡牌跟一般的鱼人套牌基本相同，如蛮鱼图腾，出两个就很赚，能出3个大血赚，其他的卡位也不多说了。</p>
			</div>
		</div>
		<div class="container news-contain contain1">
			<div class="row">
				<div class="col-md-11" id="news-item">
					<div class="comments">
						<div class="text-center comments-title">
							<h4>文章评论</h4>
						</div>
						<div class="row comments-user">
							<div class="col-md-2">
								<img src="/imgs/shu.jpg" alt="" width="80" height="80">
							</div>
							<div class="col-md-10">
								<form>
									<div class="form-group">
										<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="编写评论内容"></textarea>
									</div>
								</form>
								<button type="submit" class="btn btn-primary float-right">提交</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/main.js"></script>
</body>

</html>